
.menu {
  font-family: sans-serif;
  padding-bottom: .5em;
  border-bottom: 1px solid black;
}

.menu .menu-label {
  font-weight: bold;
}

.menu ul.menu-list {
}

.menu ul.menu-list li.menu-item {
  padding: 0px .5em;
  white-space: nowrap;
  line-height: 2em;
  font-weight: bold;
}

.credit {
  border: 1px solid #bbb;
  border-top: none;
  border-bottom-right-radius: 1em;
  padding: .5em;
  width: 400px;
  background-color: #eee;
  font-weight: bold; 
  font-family: sans-serif;
  font-size: .8em;
}
