
.credit {
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: .5em;
}

.credit a {
  font-style: italic;
  font-family: serif;
  font-size: 1.2em;
}

.credit .address {
  font-weight: normal;
}

.menu {
  font-family: sans-serif;
  border-bottom: 1px solid black;
}

.menu .menu-label {
}

.menu .menu-list {
  margin-top: .5em;
  margin-bottom: .5em;
}

.menu .menu-list li.menu-item {
  padding: 0px .5em;
  white-space: nowrap;
}
